# Privy 
NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id_here
NEXT_PUBLIC_PRIVY_CLIENT_ID= # optional, you can leave this empty

# Web Push
WEB_PUSH_EMAIL=user@example.com
WEB_PUSH_PRIVATE_KEY=your_vapid_private_key
NEXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=your_vapid_public_key

# Pimlico
NEXT_PUBLIC_PIMLICO_BUNDLER_URL=https://api.pimlico.io/v2/10143/rpc?apikey=pim_47rEu1dGc9131beNCCRLh3

